<div class="carousel slide width75 align-center" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-slide-to="0" class="active"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="width80 align-center">
        <div class="display-block">
          <p class="display-inline">book name</p>
          <div class="display-inline-block min-width100px min-height1px"> </div>
          <p class="display-inline">author name</p>
        </div>
        <div class="display-block min-height10px"></div>
          <div class="display-block">
            <%= image_tag 'test.jpg', { class: "display-inline", size: '160' } %>
            <div class="min-width10px min-height1px display-inline-block"></div>
            <div class="display-inline position-absolute margin-right110px">
              <p class="break-word">dwqwddojfe iowjdqijodjoewifoifeimfonfsdwdwd dwdwdweiufhifierufhiefhiruhfhfhfhfhfhhfhfdddk fnekgnklfnerknerjgnj fnjnfjrfnefnofjernfalirjfifbnifbeilbfrfiubefibrilsbefilresbfirbfierbsf lerbfileb fle irs bfil ers bfil sbfe lseb flei sbf lbe fl</p>
            </div>
          </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>